$c_pink: #e6394c;
$c_marin: #1a438a; 


body{
    font-family: 'Open Sans', sans-serif;
}
::selection{
    background: #333333;
    color: #ffffff;
}

.trans{
    -webkit-transition: all .4s linear;
	transition: all .4s linear;
}

a{text-decoration: none !important;}
li{list-style: none}

.bg_colors{
    background: rgba(255,130,27,1);
    background: -moz-linear-gradient(left, rgba(255,130,27,1) 0%, rgba(216,85,75,1) 14%, rgba(221,36,64,1) 39%, rgba(74,178,226,1) 88%, rgba(74,178,226,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,130,27,1)), color-stop(14%, rgba(216,85,75,1)), color-stop(39%, rgba(221,36,64,1)), color-stop(88%, rgba(74,178,226,1)), color-stop(100%, rgba(74,178,226,1)));
    background: -webkit-linear-gradient(left, rgba(255,130,27,1) 0%, rgba(216,85,75,1) 14%, rgba(221,36,64,1) 39%, rgba(74,178,226,1) 88%, rgba(74,178,226,1) 100%);
    background: -o-linear-gradient(left, rgba(255,130,27,1) 0%, rgba(216,85,75,1) 14%, rgba(221,36,64,1) 39%, rgba(74,178,226,1) 88%, rgba(74,178,226,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,130,27,1) 0%, rgba(216,85,75,1) 14%, rgba(221,36,64,1) 39%, rgba(74,178,226,1) 88%, rgba(74,178,226,1) 100%);
    background: linear-gradient(to right, rgba(255,130,27,1) 0%, rgba(216,85,75,1) 14%, rgba(221,36,64,1) 39%, rgba(74,178,226,1) 88%, rgba(74,178,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff821b', endColorstr='#4ab2e2', GradientType=1 );
}

.flex_container {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}

.ttl_sections{
    color: $c_pink;
    font-weight: 600;
    letter-spacing: -1.5px;
}
.p_text{
    font-weight: 600;
    color: $c_marin;
}

.page{
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100vh;
}

/* -- WRAPPER HOME-- */
header.header_fix{
    background: rgba(255,255,255,.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 7px solid #ffffff;
    .nav>li>a{
        color: #19428a !important;
        font-weight: 600;
        &:focus,&:hover{
            // background-color: transparent !important;
            background: rgba(255,130,27,1);
            background: -moz-linear-gradient(left, rgba(255,130,27,1) 0%, rgba(216,85,75,1) 14%, rgba(221,36,64,1) 39%, rgba(74,178,226,1) 88%, rgba(74,178,226,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,130,27,1)), color-stop(14%, rgba(216,85,75,1)), color-stop(39%, rgba(221,36,64,1)), color-stop(88%, rgba(74,178,226,1)), color-stop(100%, rgba(74,178,226,1)));
            background: -webkit-linear-gradient(left, rgba(255,130,27,1) 0%, rgba(216,85,75,1) 14%, rgba(221,36,64,1) 39%, rgba(74,178,226,1) 88%, rgba(74,178,226,1) 100%);
            background: -o-linear-gradient(left, rgba(255,130,27,1) 0%, rgba(216,85,75,1) 14%, rgba(221,36,64,1) 39%, rgba(74,178,226,1) 88%, rgba(74,178,226,1) 100%);
            background: -ms-linear-gradient(left, rgba(255,130,27,1) 0%, rgba(216,85,75,1) 14%, rgba(221,36,64,1) 39%, rgba(74,178,226,1) 88%, rgba(74,178,226,1) 100%);
            background: linear-gradient(to right, rgba(255,130,27,1) 0%, rgba(216,85,75,1) 14%, rgba(221,36,64,1) 39%, rgba(74,178,226,1) 88%, rgba(74,178,226,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff821b', endColorstr='#4ab2e2', GradientType=1 );
        }
    }


}


/* -- WRAPPER HOME-- */
.box_home{
    height: 100vh;
    width: 100%;
    &>div{
        width: 100%;
    }
    .box_idioma{
        position: absolute;
        top: 20px;
        right: 20px;
        color: #ffffff;
        img{
            border-radius: 50%;
            // border: 3px solid #f65f2a;
        }
    }
    .box_imgs{
        img{
            height: 100px;;
        }
    }
    .nav_home {
        margin: 5rem 0;
        ul > li{
            display: inline-block;
            vertical-align: middle;
            a{
                padding: .5rem 2rem;
                color: #ffffff !important;
            }
        }
    }
    .box_foot{
        bottom: 10px;
        position: absolute;
        width: 98%;
        color: #ffffff;
    }
}

.wrapper_about{
    background-image: url('../imgs/bg_about.png');
    background-position: center center;
    .box_post_note{
        .note{
            display: inline-block;
            vertical-align: middle;
            width: 45%;
        }
        .note.img{width: 20%;}
        .note.info{
            width: 75%;
            font-size: 1.25rem;
        }
    }
}

.wrapper_service{
    background-image: url('../imgs/bg_service.png');
    background-position: center top;
    .box_oferta{
        font-size: 1.5rem;
        h4{color: $c_pink;}
    }
}

.wrapper_products{
    background-image: url('../imgs/bg_product.png');
    background-position: center top;
    .box_item_products{
        img{max-width: 100%;}
        &>div{
            display: inline-block;
            vertical-align: top;
        }
        .products_img{width: 25%}
        .products_details{
            width: 70%;
            min-height: 200px;
            margin-bottom: 2rem;
        }
    }
}

.wrapper_contact{
    background-image: url('../imgs/bg_contact.png');
    background-position: center top;

}